# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Data (large, not tracked)
data/
models/
output/
deps/
checkpoints/
*.pt
*.pth

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
*.kaggle/
